
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">BOOTCAMP Blog</h1>
      <p class="lead">Blog where I'll be posting my experience about Bootcamp.</p>
      
      <p>I coded this website as an excercise and decided to create something also meaningfull. If you are thinking about bootcamp and you are not sure, or looking for some information how to understand coding before bootcamp, or you just even finished the bootcam and dont know what to do, this blog might help you.</p>
      <a class="btn btn-lg" href="#" role="button" style="background-color: #511281; color: white">Sign up!</a>
    </div>
  </div>
</div>

