<footer id="sticky-footer" class="py-4 text-white" style="background-color: black">
  <div class="container text-center">
    <small>Copyright &copy;<%= link_to "Andrea Tredrea", "https://portfolio-andytred.herokuapp.com/", class: "text-white" %></small>
  </div>
</footer>